*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 700px;
    margin: auto;
}

.heading {
    font-weight: 600;
}

.product, .specificMac, .specificiPhone, .specificiPad, .capacity, .condition {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.selects {
    color: #3C3C3C;
    font-weight: 400;
}

.input {
    text-align: left;
    padding: 0 15px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    color: #3C3C3C;
    margin-top: 5px;
    position: relative;
    margin: auto;
}

.input:focus {
    outline: none;
}

.condition input {
    margin-bottom: 10px;
}

.allCheckboxes {
    margin-top: 10px;
}

.checkboxes + span{
    color: #3C3C3C;
    font-size: 16px;
}

#submit {
    color: #0070c9;
    border: 1px solid #0070c9;
    background-color: transparent;
    border-radius: 4px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#productType:invalid~.error1, #productSpecificMac:invalid~.error1, #productSpecificiPhone:invalid~.error1, #productSpecificiPad:invalid~.error1, #productCapacity:invalid~.error3{
    display: block;
}

.specificMac, .specificiPhone, .specificiPad {
    display: none;
}

.error1, .error2a, .error2b, .error2c, .error3, #error4 {
    display: none;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    color: red;
    padding: 3px 0px;
}

#subjectToChange, #amount, #tradein {
    display: none;
}

#amount {
    font-weight: 600;
}

#tardein {
    font-weight: 300;
}

#subjectToChange {
    font-weight: 600;
}

input:invalid {
    border: 1px solid red;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 1920px) {
     
    .heading {
        font-size: 32px;
        padding: 20px 0px;
    }

    .product, .specificMac, .specificiPhone, .specificiPad, .capacity, .condition {
        margin-bottom: 14px;
        width: 95%;
    }

    .selects {
        font-size: 15px;
    }

    .input {
        font-size: 15px;
        height: 32px;
        min-height: 32px;
    }

    .checkboxes + span{
        font-size: 15px;
    }

    #amount, #tradein {
        font-size: 15px;
        margin: 0px;
    }
    
    #subjectToChange {
        font-size: 10px;
        margin: 0px 0px 10px;
    }
    
    .error1, .error2a, .error2b, .error2c, .error3, #error4 {
        font-size: 11px;
    }
} 

@media screen and (max-width: 720px) {
     
    .heading {
        font-size: 28px;
        padding: 20px 0px;
    }

    .product, .specificMac, .specificiPhone, .specificiPad, .capacity, .condition {
        margin-bottom: 14px;
        width: 95%;
    }

    .selects {
        font-size: 14px;
    }

    .input {
        font-size: 14px;
        height: 32px;
        min-height: 32px;
    }

    .checkboxes + span{
        font-size: 14px;
    }

    #amount, #tradeIn {
        font-size: 14px;
        margin: 0px;
    }
    
    #subjectToChange {
        font-size: 9px;
        margin: 0px 0px 10px;
    }

    .error1, .error2a, .error2b, .error2c, .error3, #error4 {
        font-size: 11px;
    }
} 

@media screen and (max-width: 560px) {
     
    .heading {
        font-size: 25px;
        padding: 20px 0px;
    }

    .product, .specificMac, .specificiPhone, .specificiPad, .capacity, .condition {
        margin-bottom: 14px;
        width: 95%;
    }

    .selects {
        font-size: 12px;
    }

    .input {
        font-size: 12px;
        height: 32px;
        min-height: 32px;
    }

    .checkboxes + span{
        font-size: 12px;
    }

    #amount, #tradeIn {
        font-size: 12px;
        margin: 0px;
    }
    
    #subjectToChange {
        font-size: 7px;
        margin: 0px 0px 10px;
    }

    .error1, .error2a, .error2b, .error2c, .error3, #error4 {
        font-size: 9px;
    }
} 
